.choose::-webkit-file-upload-button {
  color: white;
  display: inline-block;
  background: #1cb6e0;
  border: solid 1px #1cb6e0;
  padding: 9px 9px;
  font-weight: 700;
  border-radius: 3px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 12pt;
}
a {
  text-decoration: none !important ;
}
@media only screen and (max-width: 900px) {
  .choose::-webkit-file-upload-button {
    font-size: 10pt;
    padding: 8px 8px;
  }
}







/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
  .choose::-webkit-file-upload-button {
    font-size: 8pt;
    padding: 6px 6px;
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 500px) {
  .choose::-webkit-file-upload-button {
    font-size: 6pt;
    padding: 5px 5px;
  }
}







/* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (max-width: 300px) {
  .choose::-webkit-file-upload-button {
    font-size: 4pt;
    padding: 3px 3px;
  }
} 
