.choose::-webkit-file-upload-button {
  color: white;
  display: inline-block;
  background: #1cb6e0;
  border: solid 1px #1cb6e0;
  padding: 10px 10px;
  font-weight: 700;
  border-radius: 3px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 15pt;
}
a {
  text-decoration: none !important ;
}
